@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color:#fff;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #fff;
}
htm {
  font-size: 62.5%;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  /*-------------header section starts-------*/
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  background: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);

}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.nav-bar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.2s;
}
.nav-bar a:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.nav-bar a:hover,
.nav-bar a.active {
  color: var(--main-color);
  text-decoration: underline;
}
#menu-icon {
  font-size: 3.6rem;
  color: #323946;
  display: none;
 
}
/*-------------header section ends-------*/
/*-------------home section starts-------*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../images/background2.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 37rem;
  padding-bottom: 65rem;
}
.home {
  display: flex;
  justify-content: row;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
 margin-bottom: 2rem;
}
span {
 color: var(--main-color);
 
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
}

@keyframes floatImage{
50% {
transform: translateY(-9.15rem);
}
100% {
transform: translateY(0);
}
}
.home-content p {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;  
}

.social-media a{
  display: inline;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 1rem;
  padding: .8rem 1rem;
  background: transparent;
  border: .1rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--main-color);
  margin: 2rem .5rem 2rem  0;
  transition: all 100ms ease-in-out;
  margin-bottom: 60rem;
}
.social-media a:hover {
 background: var(--main-color);
 color: var(--main-color);
 color: var(--second-bg-color);
 box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 2rem;
    background: transparent;
    color: var(--text-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    transition: .2s;
}
.btn:hover{
 background: var(--main-color);
 color: var(--main-color);
 color: var(--second-bg-color);
 box-shadow: 0 0 1rem var(--main-color);
}
/*-------------home section ends-------*/
/*-------------about section starts-------*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    width: 35vw;
    padding: 6rem;
    border-radius: 8rem 0;
     
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;  
}
.about-content h2{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
}
/*-------------about section ends-------*/



 .events .box-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
 }

/*footer section starts*/

.footer{
    background: #fff; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5)),
    url("../images/background3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 2rem;
}
.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
   gap:  1.5rem;
}
.footer .box-container .box h3{
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem 0;
   margin-bottom: 2rem;
}
.footer .box-container .box i{
 color: var(--main-color);

}
.footer .box-container .box .links{
 display: block;
 font-size: 1.5rem;
 color: var(--light-color);
 padding: 1rem 0;
 text-decoration: none;
 color: #fff;
}
.footer .box-container .box .links i{
    color: #fff;
    padding-right: .5rem;
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .social-media a{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--black);
  margin-left: .5rem;
  text-align: center;
  background: #eee;
  padding: 2rem;
  border-radius: 50%; 
}
.footer .box-container .box p{
  font-size: 2rem;
  color: #fff;
  text-transform:none
}
.footer .box-container .box a{
  font-size: 2rem;
  color:var(--main-color);
}
.footer .box-container .box a:hover{
   color:  #c36;
   text-decoration: underline;  
}

/*-------------footer section starts-------*/
@media(max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media(max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section{
    padding: 2rem 15% 2rem;
    margin-top: 10rem;
  }
    .footer{
    padding: 2rem 3%;
  }
}
 @media(max-width: 768px) {
 #menu-icon{
  display: block;
  padding-right: 3.5rem;
 }
  .nav-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem 3%;
  background: rgba(0, 0, 0, .7);
  border-top: 1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  display: none;
 }
 .nav-bar.active{
  display: block;
 }
  .nav-bar a{
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
 }
 .home{
flex-direction: column;
 }
 .home img{
width: 70vw;
margin-top: 13rem;
 }
 .home-content h3{
font-size: 2.6rem;

 }
 .home-content h1{
font-size: 4rem;

 }
   .about h2{
margin: 2rem;
font-size: rem;
text-align: center;
 }
    .about h3{
font-size: 5rem;
text-align: center;
 }
   .about p{
margin: 2rem;
text-align: center;
 }
  .about{
flex-direction: column;
text-align: center;
 }
 .about img{
width: 70vw;
margin-top: 4rem;


 }
 .skills .heading{
  font-size: 3rem;
  margin: 1rem;
 }
 .skills-grid{
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem  
}
 .project h2{
font-size: 3rem
 }
 .project-container{
grid-template-columns: repeat(2, 1fr);
 }
 .home-content h1{
font-size: 4rem
 }
 .certificate-grid{
  grid-template-columns: 1fr; 
 
}
}
@media(max-width: 617px) {
   .project-container{
grid-template-columns: 1fr;
 }
 
 
 }
 @media(max-width: 450px) {
  html{
    font-size: 50%;
  }
  
  
.contact form .input-box input{
  width:100%
}
 }
